body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

h1 {
    color: #343a40;
}

table {
    margin-top: 20px;
}

.table th, .table td {
    text-align: center;
}

.btn-group .btn {
    width: 60px;
    height: 50px;
    margin: 5px;
    font-size: 18px;
    text-align: center;
}

#expression {
    font-size: 18px;
    height: 50px;
    text-align: center;
}

.table th, .table td {
    text-align: center;
}
